<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- w3css -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>mp3-spectroscope</title>
  </head>
  <body>
    <div class="w3-bar">
        <form class="w3-container w3-light-grey" style="display: flex; justify-content: center;" method=post enctype=multipart/form-data>
            <input type=file class="w3-input-file w3-round-large w3-padding-16 w3-display-container" name=file>
            <button class="w3-button w3-round w3-dark-grey w3-margin" type=submit value=Upload>Upload mp3</button>
        </form>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
